<div class="row">
  <% projets.forEach(function(projet) { %>
    <div class="col-md-4 mb-4">
      <div class="card h-100 border border-dark">
        <img src="<%= projet.image %>" class="card-img-top custom-card-img" alt="<%= projet.titre %>">
        <div class="card-body">
          <h5 class="card-title font-weight-bold mb-3">
            <%= projet.titre %>
          </h5>
          <p class="card-text mb-3">
            <%= projet.description %>
          </p>
          <p class="card-text mb-3">Technologies used: <%= projet.technologies.join(', ') %></p>
          <p class="card-text mb-3">Personal results: <%= projet.resultatsPersonnels %></p>
          <% if (projet.lien) { %>
            <a href="<%= projet.lien %>" class="btn btn-light" target="_blank">Visit Project</a>
          <% } %>
        </div>
      </div>
    </div>
  <% }) %>
</div>
