<!DOCTYPE html>
<html lang="en">

<%- include('includes/head.ejs') %>

  <body>

    <div id="video-container">
      <video autoplay muted loop playsinline>
        <source src="/timelapse.mp4" type="video/mp4">
        <img src="/images/qc_night.jpg" alt="Video placeholder">
      </video>
    </div>

    <!--Navigation Menu Content-->
    <%- include('includes/navigation.ejs') %>

      <!--Site Introduction Text-->
      <%- include('includes/intro_site.ejs') %>

        <!--Recent-project-explanation Content-->
        <%- include('includes/recent-project-explanation.ejs') %>

          <!--Carousel Content-->
          <%- include('includes/projects.ejs') %>

            <!--Alternate Facts Content-->
            <%- include('includes/faits_alternatifs.ejs') %>

              <!--Forms Content-->
              <%- include('includes/forms.ejs') %>

                <!--Footer Content-->
                <%- include('includes/footer.ejs') %>

  </body>

</html>