<!DOCTYPE html>
<html lang="en">

<%- include('includes/head.ejs') %>

  <body>

    <div id="video-container">
      <video autoplay muted loop playsinline>
        <source src="/public/video/Timelapse.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>-->

    <div id="cursor-tracker"></div>

    <!--Contenu du menu de navigation-->
    <%- include('includes/navigation.ejs') %>

      <!--Texte d'accueil du site-->
      <%- include('includes/intro_site.ejs') %>


        <!--contenu pour le carrousel-->
        <%- include('includes/carrousel.ejs') %>

            <!--contenu pour la partie des faits alternatifs-->
            <%- include('includes/faits_alternatifs.ejs') %>


              <!--contenu pour le forms-->
              <%- include('includes/forms.ejs') %>



                <!--Contenu du footer-->
                <%- include('includes/footer.ejs') %>


  </body>

</html>