<!DOCTYPE html>
<html lang="en">

<%- include('includes/head.ejs') %>

  <body>

    <!--<div id="video-container">
      <video autoplay muted loop playsinline>
        <source src="/video/timelapse.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>-->

    <!--<div id="cursor-tracker"></div>-->

    <!--Navigation Menu Content-->
    <%- include('includes/navigation.ejs') %>

      <!--Site Introduction Text-->
      <%- include('includes/intro_site.ejs') %>


        <!--Carousel Content-->
        <%- include('includes/carrousel.ejs') %>

            <!--Alternate Facts Content-->
            <%- include('includes/faits_alternatifs.ejs') %>


              <!--Forms Content-->
              <%- include('includes/forms.ejs') %>

                <!--Footer Content-->
                <%- include('includes/footer.ejs') %>




  </body>

</html>
